/* CSS for UniPlayerXBlock */

.uniplay_block .count {
    font-weight: bold;
}

.uniplay_block p {
    cursor: pointer;
}

.lm-header-title {
    line-height: 0;
    min-height: 50PX;
    margin-top: 40px;
}

.lm-header-display-name {
    float: left;
    font-size: 20px;
    color: #7f7f7f;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.lm-header-dev-info {
    width: 26%;
    float: right;
}

.lm-header-dev-logo {
    background-color: #eee;
    border-radius: 5px;
    padding: 5px 5px 5px 5px;
    color: #ddd;
    font-size: 12px;
}